@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

.padding-vertical {
  padding-top: 50px;
  padding-bottom: 120px;
}

.password-field {
  position: relative;
}

.show-password {
  cursor: pointer;
}
