@import '../../../assets/css/variables';
@import '../../../assets/css/mixins';

.timer {
  padding: 8px;
  color: #2d8dfc;
  background-color: #ffffff;
  border: 1px solid #2d8dfc;
  font-weight: bold;
}
